@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>About Hobby Manager</h3>

<p>Hobby Manager allows scale modelers or miniature wargame players to track their projects, and go-to paint recipes. Users can input their paint collection, assign paints to Workflows, and add these workflows to their projects. Users can save their paints used to paint specific objects in the order in which they are applied to the subject. For example, if you are painting a uniform, you can input the primer you used for the model, your base paint, the shade or wash you used, your first highlight color, and your second highlight color. This allows you to come back to your project later and have a record of which paints you used and the order you applied them.</p>
