@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hobby Manager</h1>
    <p class="lead">Hobby Manager is a free web MVC app that allows users to track their hobby projects with a focus on the paints and processes used.</p>
    @Html.ActionLink("Learn More", "About")
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Start here!</h2>
        <p>
            Not sure where to start? Begin by adding some of your paint collection to the database!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Need Inspiration?</h2>
        <p>Check out some of my personal projects on my Instagram!</p>
        <p><a class="btn btn-default" href="https://www.instagram.com/rc1107delta/">Get Inspired! &raquo;</a></p>
    </div>
</div>