@{
    ViewBag.Title = "Instructions";
}
<div class="text-wrapper">
    <h2>@ViewBag.Title.</h2>
    <h3>Instructions</h3>

    <p>To succesfully use Hobby Manager, you will need to do things in a certain order to avoid errors. But first, let's define our terms:</p>
    <ul>
        <li>Paint: As you may have guessed, this is a single paint. You'll add paints to Workflows to save your "recipes" for colors.</li>
        <li>Model: This is the object you are currently working on, be it armor, an aircraft, a squad of infantrymen, etc.</li>
        <li>Project: This represents your overall project. Are you working on a diorama? An army for a miniatures wargame?</li>
        <li>Workflow: These are your paint recipes. For example, if you paint a leather pouch on an orc, and you really like the way it turned out, you can record the paints you used, in the order that you used them, to refer back to in the future.</li>
        <li>ProjectModel: This is simply a place to link a project with the models you are using for that project.</li>
        <li>ProjectWorkflow: This is a place to link the Workflows you used for a specific project.</li>
    </ul>
    <p>To start, you should begin by adding your paint collection to the database. This allows us to create workflows later! Once you've got some of your paints entered, you can create workflows using those paints. <br /> <br /> After you've added your paints, try adding a Model that you're working on, and create a Project. <br /> <br /> Once you've created a Model and a Project, start creating Workflows. Once you've created at least one Workflow, try linking a Model to a Project using the ProjectModel tab, or link a Workflow to a Project using the ProjectWorkflow tab.</p>

</div>